.sideNav {
    box-shadow: 0 0 5px #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    position: relative;
    z-index: 10;
}

.sideNavItem {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #9E9E9E;
}

.sideNavItemText {
    text-align: 'center';
}

.sideNavItem:hover {
    color: #6c5ce7;
    background-color: #E0DDFF;
}

