.workoutScreen {
    background-color: #FAFAFA;
    height: 100vh;
}



.workoutBoxTitle {
    font-size: 20px;
}

.workoutBoxSubtitle {
    font-size: 16px;
    color: #95a5a6;
}

.newWorkoutScreen {
    box-shadow: 0 0 5px #ccc;
}

.newWorkoutFormField {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    border-radius: 0;
}