.authBox {
    margin: 100px 20%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
}

.authTitle {
    font-family: 'SFProDisplay-Medium';
    font-size: 20px;
}

.authSubTitle {
    font-family: 'SFProDisplay-Light';
    color: #A7A7A7;
    font-size: 18px;
}

.authButton {
    width: 25%;
}
