.app {
    margin: 0;
    padding: 30px 30px;
    height: 100vh;
    font-family: 'SFProDisplay-Regular';
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .app {
        padding: 50px 80px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .app {
        padding: 50px 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .app {
        padding: 60px 15%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .app {
        padding: 60px 25%;
    }
}

.linkdec {
    text-decoration: none !important;
}

.linkdec:hover {
    text-decoration: none !important;
}

p {
    margin: 0;
}

.sectionTitle {
    margin: 0;
    font-family: 'SFProDisplay-Medium';
    text-decoration-line: underline;
    text-decoration-color: #F4CF5C;
}

.buttonPrimaryDarken {
    font-family: 'SFProDisplay-Medium';
    border: 1px solid #ffeaa7;
    background-color: #ffeaa7;
    color: #060605;
}

.buttonPrimaryDarken:hover {
    border: 1px solid #f5e09f;
    background-color: #f5e09f;
    color: #060605;
}

.buttonOutline {
    border: 1px solid #0984e3;
    background-color: #FAFAFA;
    color: #0984e3;
}

.buttonOutline:hover {
    border: 1px solid #FAFAFA;
    background-color: #0984e3;
    color: #FAFAFA;
}

.buttonDarken {
    border: 1px solid #0984e3;
    background-color: #0984e3;
    color: #FAFAFA;
}

.buttonDarken:hover {
    border: 1px solid #0573c7;
    background-color: #0573c7;
}

.buttonOutlineSuccess {
    border: 1px solid #10ac84;
    background-color: #FAFAFA;
    color: #10ac84;
}

.buttonOutlineSuccess:hover {
    border: 1px solid #FAFAFA;
    background-color: #10ac84;
    color: #FAFAFA;
}

.buttonOutlineSuccess:active {
    border: 1px solid #FAFAFA;
    background-color: #10ac84;
    color: #FAFAFA;
}


.standardBox {
    box-shadow: 0 0 5px #ccc;
    padding: 2em;
    margin: 2em 0em;
    border-radius: 5px;
}

/* Sidebar Scroller */
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0984e3;
    border-radius: 5px;
}