.app {
    margin: 0;
    padding: 30px 30px;
    height: 100vh;
    font-family: 'SFProDisplay-Regular';
}

.standardBox {
    background-color: #FFFFFF;
    margin: 2em 0em;
    padding: 3em 3em;
    border-radius: 5px;
    box-shadow: 0px 24px 48px #e9ebf2;
}

.standardBox-title {
    font-size: 24px;
    font-family: 'SFProDisplay-Medium';
}

.linkdec {
    text-decoration: none !important;
    color: black;
}

.linkdec:hover {
    text-decoration: none !important;
    color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .app {
        padding: 50px 80px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .app {
        padding: 50px 100px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .app {
        padding: 60px 15%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .app {
        padding: 60px 25%;
    }
}

p {
    margin: 0;
}

.sectionTitle {
    margin: 0;
    font-family: 'SFProDisplay-Medium';
    text-decoration-line: underline;
    text-decoration-color: #F4CF5C;
}

.button-create {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    color: #6cd6a5;
    width: 100%;
}

.button-create:hover {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #6cd6a5;
    background-color: #6cd6a5;
    color: white;
    transition: 0.5s;
}

.button-submit {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    color: #F4CF5C;
    width: 100%;
}

.button-submit:hover {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #F4CF5C;
    background-color: #F4CF5C;
    color: white;
    transition: 0.5s;
    width: 100%;
}

.button-delete {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    color: #ef5777;
    width: 100%;
}

.button-delete:hover {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #ef5777;
    background-color: #ef5777;
    color: white;
    transition: 0.5s;
}

.button-cancel {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #e9ecef;
    background-color: #e9ecef;
    color: #7F8C8D;
    width: 100%;

}

.button-cancel:hover {
    font-family: 'SFProDisplay-Regular';
    border: 1px solid #7F8C8D;
    background-color: #7F8C8D;
    color: white;
    transition: 0.5s;
}

.buttonDarken {
    border: 1px solid #0984e3;
    background-color: #0984e3;
    color: #FAFAFA;
}

.buttonDarken:hover {
    border: 1px solid #0573c7;
    background-color: #0573c7;
}




/* Sidebar Scroller */
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F4CF5C;
    border-radius: 5px;
}