.rightCol {
    padding: 55px 120px !important;
    background-color: #FAFAFA;
    height: 100vh;
}

.rightColTitle {
    color: #0984e3;
    font-size: 25px;
}

.rightColSpinner {
    color: #0984e3;
    flex: 1;
    align-self:'center'
}

/* Sidebar Scroller */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0984e3;
    border-radius: 5px;
}